/**********************
 *CSS Animations by:
 *http://codepen.io/vivinantony
***********************/
.spinner1 {
  width: 40px;
  height: 40px;
  position: relative;
}
.double-bounce1{
  width: 520%;
  height: 520%;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  top: -180%;
  left: -180%;
  z-index: 10;
}
.double-bounce2 {
  width: 450%;
  height: 450%;
  background-color: #2a2a2a;
  position: absolute;
  top: -140%;
  left: -140%;
  -webkit-animation: bounce2 6.0s infinite ease;
  animation: bounce2 6.0s infinite ease;
}
.double-bounce3 {
  width: 450%;
  height: 450%;
  background-color: #2a2a2a;
  position: absolute;
  top: -140%;
  left: -140%;
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
  -webkit-animation: bounce 6.0s infinite ease;
  animation: bounce 6.0s infinite ease;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: rotateZ(0.0)
  }
  50% { -webkit-transform: rotateZ(360deg) }
}
@keyframes bounce {
  0%, 100% {
    transform: rotateZ(0.0);
    -webkit-transform: rotateZ(0.0);
  } 50% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes bounce2 {
  0%, 100% { -webkit-transform: rotateZ(45deg) }
  50% { -webkit-transform: rotateZ(405deg) }
}
@keyframes bounce2 {
  0%, 100% {
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
  } 50% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(405deg);
  }
}



